   body
{
	margin:0px auto ;
	min-width:824px;
	padding:0 px;
}
.main {
	height: 100%;
	width: 100%;
}
	
.searchContent
{
	height:35px;
	width:100%;
}
.searchContent_l
{
	float:left;
	height:100%;
}
.searchContent_r
{
	float:right;
	height:100%;
}
.layThree_row {
	height: 55px;
	width: 100%;
	padding: 0xp;
}

.layThree_row_f {
	float: left;
	width: 32.3%;
	padding-left: 1%;
}
.layThree_row_t{
   float: left;
	width: 100%;
	padding-left: 1%;
}
#editDiv {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	min-width: 824px;
}

.headTitle {
    background-color: #e3e3e3;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 1%, rgba(255, 255, 255, 0.2) 100%);
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 1px;
    color: #036eb2;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;
    padding-left: 20px;
}

.editBody {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
#div_base{
       margin-top: 20px;
}

.layTwo_row_button {
    float: right;
    height: 30px;
    padding-top: 15px;
    width: 100%;
}
.searchContent {
	height: 35px;
	width: 100%;
}

.searchContent_l {
	float: left;
	height: 100%;
}

.searchContent_r {
	float: right;
	height: 100%;
}
#detailDiv
{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:white;
	min-width:824px;
	min-height:600px;
	z-index:20000;
}
#detailTitle{
	margin-bottom:20px;
}
.imgDiv
{
	width:180px;
	float:left;
	height:120px;
	padding:5px;
}

.viedoDiv
{
	width:180px;
	float:left;
	height:120px;
	padding:5px;
}

/**弹出层样式***/
.mask{
	height: 100%;
	width: 100%;
	filter:alpha(opacity:0);
	opacity: 0;
	background: #000;
	position: absolute;
	z-index: 20001;
	left: 0;
	top:0;
	display: -none;
}
.popup{
	background:#fff urlimages/loading.gif) no-repeat center;
	border: 10px solid #fff;
	position: absolute;
	z-index: 20002;
	overflow:-hidden;
	width: 320px;
	height: 240px;
}
.popup img{
	height: auto;
	width: auto;
}
.btn{
	position: absolute;
	right: 0;
	top:0;
	height: 100%;
	width: 50%;
	cursor: pointer;
}
.prev{
	left: 0;
	background: url(images/lightbox-btn-prev.gif) no-repeat  0 50px;
}
.next{
	background: url(images/lightbox-btn-next.gif) no-repeat  right 50px;
}
.popupBottom{
	position: relative;
	z-index: 20003;
	margin-top:8px
}
.popupTitle{
	line-height: 18px;
	color: #543424;
	font-family: Arial;
	font-size: 12px;
	padding-right: 100px;
}
.popupClose{
	margin-right:15px;
	height: 22px;
	width: 66px;
	background: url(images/lightbox-btn-close.gif) no-repeat;
	cursor: pointer;
	z-index: 4;
	position: absolute;
	top: 0px;
	right: 0;
}