body {
	height: 100%;
	min-width: 804px;
}

.searchContent {
	height: 35px;
	width: 100%;
}

.searchContent_l {
	float: left;
	height: 100%;
}

.searchContent_r {
	float: right;
	height: 100%;
}


/*************edit**************/
.base {
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	padding-bottom: 10px;
}

.baseBor {
	width: 100%;
	position: relative;
	border-top: 1px solid #c5c5c5;
	margin-top: 25px;
	height: 15px;
}

.baseBor_tit {
	background-color: white;
	position: absolute;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	left: 40px;
	top: -15px;
	color: #50a0e2;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
/*************detail**************/
.detailbaseBor {
	width: 100%;
	position: relative;
	margin-top: 25px;
	height: 15px;
}

.layThree_row {
	height: 55px;
	width: 100%;
	padding: 0xp;
}

.layThree_row_f {
	float: left;
	width: 32.3%;
	padding-left: 1%;
}



.layTwo_row_button {
	height: 30px;
	padding-top: 15px;
	float: right;
	width: 100%;
}

#editDiv {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	min-width: 824px;
}

.editBody {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}

#detailDiv {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	min-width: 824px;
}

.detailClass {
	padding-left: 14px;
	padding-right: 20px;
}

.headTitle {
	background-color: #e3e3e3;
	background-image: none,
		linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 1%,
		rgba(255, 255, 255, 0.2) 100% );
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	color: #036eb2;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-top: 4px;
	padding-left: 20px;
}

.picTop {
	height: auto;
	min-height: 49px;
	overflow: hidden;
	width: 100%;
}

.picBottom {
	border-top: 1px dashed #c5c5c5;
	height: auto;
	min-height: 270px;
	overflow: hidden;
	padding-left: 5px;
	width: 100%;
}
.picDiv
{
	min-height:250px;
	overflow: hidden;
}
.picAlert
{
	height:50px;
	text-align:center;
	line-height:25px;
	color:gray;
	font-size:16px;
	margin-top:100px;
	
}
.imgDiv
{
	width:145px;
	float:left;
	height:120px;
	padding:5px;

}
.imgDiv  a{
text-decoration:underline;
}
.isThumFlag{
border: 2px solid red
}
/*æ ‘*/

.main {
	height: 100%;
	width: 100%;
	margin-left: -6px;
}
.list_left {
    padding-top: 13px;
}

.leftTreeBox {
	 
	background-position: 50% 50%;  
	box-sizing: content-box;
	background-clip: border-box; 
	width:180px;
	overflow: auto;	
}
.rightTitle {
    background-color: #e3e3e3;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 1%, rgba(255, 255, 255, 0.2) 100%);
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    color: #036eb2;
    font-size: 14px; 
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.leftTreeBox {
	 
	background-position: 50% 50%;  
	box-sizing: content-box;
	background-clip: border-box; 
	width:180px;
	overflow: auto;
	border:1px solid rgb(197, 197, 197);
	height: 414px;
}
.list_height .k-grid{
margin-top: 13px; display: table; height: 368px;
}