.getPassword{
    color: #898989;
    font-size:12px;
}
@media screen and (max-width: 991px) {
    #getPassword .text-right{
        text-align: center;
    }
    #getPassword .text-left {
        text-align: center;
    }
    .titleMargin{
        margin-left: 0px;
    }
}
.inputStyle{
    width: 100%;
    height: 32px;
    border:1px solid black;
}
.tableTitle{
    font-size: 18px;
}
.tableValue{
    width: 370px;
    height: 35px;
}
.sureAndBack{
    background: #111111;
    color: white;
    width: 105px;
    height: 35px;
}
.trMargin{
    margin-top: 10px;
}
.getIdentifyingCodeButton{
    width: 110px;
    height: 32px;
    background: #EEEEEE;
    color: #8C8C8C;
    border:solid 1px #BFBFBF;
}
