.accountInfo{
    font-size: 40px;
    font-weight: bold;
}

.topBottom{
    display: none;
}
.smallScreenContainer{
	display: none;
}

.smallAccountInfo{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 26px;
	font-weight: bold;
	font-size: 35px;
	margin-right:40px;
}

.tableTitle {
	color: #808080;
}
.titileImg{
    width: 25px;
    margin-right:15px;
}
.titleMargin{
	margin-left:15px;
}
.vertical{
    display: none;
}
  .title{
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}
.titleContent{
    font-size: 16px;
    color: #898989;
    padding-left: 45px;
}	

@media screen and (max-width: 1440px) {
	#pagination{
	    float: left;
    	padding-left: 10%;
	}
}

@media screen and (max-width: 1199px) {
    .title{
	    font-size: 14px;
	    font-weight: bold;
	    margin-top: 30px;
	    margin-bottom: 10px;
	}
	.titleContent{
	    font-size: 15px;
	    color: #898989;
	    padding-left: 45px;
	}	
}
@media screen and (max-width: 992px) {
	#pagination{
	    padding-left: 10%;
	}
    .topBottom{
        display: block;
    }
    .rightLeft{
        display: none;
    }
     .accountInfo{
        display: none;
    }
     .smallScreenContainer{
 	   display: block;
    }
.title{
	    font-size: 12px;
	    font-weight: bold;
	    margin-top: 30px;
	    margin-bottom: 10px;
	}
	.titleContent{
	    font-size: 14px;
	    color: #898989;
	    padding-left: 45px;
	}
}

@media screen and (max-width: 767px) {
    .smallCenter{
		text-align: center;
	}
	.smallAccountInfo{
		font-size: 40px;
		margin-right:-30px;
	}	
	    .title{
	    font-size: 17px;
	    font-weight: bold;
	    margin-top: 30px;
	    margin-bottom: 10px;
	}
	.titleContent{
	    font-size: 16px;
	    color: #898989;
	    padding-left: 45px;
	}
}
@media screen and (max-width: 520px) {
    .vertical{
        display: block;
    }
    .horizontal{
        display: none;
    }
}

.payErrorImg{
    height: 50px;
    width: 50px;
    display:inline-block;
    text-align:center;
}
.payErrorText{
    color: #898989;
    font-size: 25px;
    vertical-align: middle;
}
.continuePay{
    background: #111111;
    color:white;
    width: 155px;
    height: 40px;
    margin-top: 80px;
}
.textColor{
    color: #808080;
}
.contact{
    color: #979797;
    margin-top: 50px;
}
div.col-md-4{
    padding-right: 0px;
}
.tableContent span:last-child{
    float: right;
}
.textDecoration{
    text-decoration: none;
    cursor:pointer;
}
.tableContent{
    text-align: center;
    border:solid 1px #D9D9D9;color: #808080;
    vertical-align: middle !important;
    font-size: 12px;
}
.productName{
	text-align: center;
	font-size: 12px;
	vertical-align: middle !important;
}
.text-right{
    text-align: right;
}
#orderTable tr td{
    vertical-align: middle;
}
.sureAndBack{
    background: #111111;
    color: white;
    width: 60px;
    height: 25px;
    border:0px;
}

#pagination span,#pagination input{
    margin-top: 5px;
}
.pagination>li>a, .pagination>li>span{
    border:none;
    color: #333333;
    cursor:pointer;
}
.searchBox{
    background-image:url(../images/search.png) ;
    background-size:20px 20px;
    background-repeat: no-repeat;
    padding-left: 27px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    background-position: 3% 50%;
    height: 3rem;
    line-height: 2.3rem;
    width: 130%;
    text-indent: 10px;
    outline: none;
    background-size:15px;

}
.searchAnotherClass{
    height: 3rem;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    padding-left: 20px;
    line-height: 2.3rem;
    width: 100%;
    text-indent: 10px;
    outline: none;
}
#box{
    text-align: left;
}
.whiteLeftBorder{
    border-left:solid 1px white;
    width: 200px;
}
.goodImg{
    display:inline-block;
    text-align:center;
    width:160px;
    height:100px;
}
@media screen and (max-width: 460px) {
  .goodImg{
	display:inline-block;
    text-align:center;
	width:120px;
	height:75px;
	}
}
.smTr{
    border-bottom: solid 1px #D9D9D9;
}
.smTd{
    padding: 10px;color:#717171;
}

.hasBuyGoods{
	color:#4581CA;
}