#forgetPasswordBody{width:100%;}
#forgetPasswordContainer{
 margin:20px auto;
 display:table;
 width:1000px;
 background:#B8B8B8;
 height:578px;
}
#forgetPasswordContent{
   margin:70px auto;
   width:515px;
   min-height:260px;
}
#forgetPasswordForm p{
	display:table;
	margin-top:10px;
   
 }
 #forgetPasswordForm label{
   height:26px;display:block;float:left;width:80px;
 } 
 #forgetPasswordForm input{
  padding:5px;
  width:280px;
 }

#forgetPassword{
 
    width:90px;
   height:24px;
   margin-left:80px;
   margin-top:10px;
  
}
#login{
    font-size: 13px;
    line-height: 22px;
   border-bottom:1px solid;
    color:#333333;
   text-decoration:none;
}
#read{
 font-size:13px;
}