#articleBody{width:100%;}
#articleContainer,#articleTitle{
	 width:1000px;
}
#articleContainer{width:1000px;display:table;margin:20px auto;background:#B8B8B8;}
#articleTitle{
	padding-left:20px;
    padding-top:15px;
    padding-bottom:10px;
    border-bottom:1px dotted #666666;
   letter-spacing:2px;
   float:left;
}
#articleContent{min-height:530px;padding:20px 20px 0; font-size: 13px;letter-spacing:2px;}
#articleTitle .articleTitle{
   display: table;
    float: left;
    width: 850px;
   word-break:break-all;   
}
#date{
    display: block;
    float: right;
    width: 120px;
}
 .noContent{
   height: 145px;
    margin: 180px auto 0;
    width: 304px;
    background:url('../images/noContent.png')
 }