  #updatePassWordBody{width:100%;}

/*账号信息*/
#accountInfoContainer{
display: table; background:#B8B8B8; margin:0 auto;margin-top:20px;width:1000px;
}
#leftBorder{
border-left:1px solid #fff; display: table; 
}
#accountInfoMenu,#leftBorder{margin-top: 15px;margin-bottom: 15px;}

#accountInfoMenu{
float:left;width:230px;min-height:670px;
}
#updatePasswordContent{
float:right;width:763px;border-left:1px solid #5D5D5D;
}
.accountInfoTitle{width:175px;height:38px;margin:0 auto;margin-top:20px;background: url("../images/accountInfo.png") ;
}
.MenuContent{width:180px;margin:0 auto;}
.item{
 padding-top:10px;padding-bottom:10px;border-bottom:1px solid #5D5D5D;border-top:1px solid #fff;
}
.firstItem{
 border-top:none;
}
.lastItem{
 border-bottom:none;
}
 .itemTitle{
  font-weight:bold;font-size:19px;padding-bottom:7px;
 }
 .item p{text-align:left;padding-left:40px;}
.item p:not(.itemTitle){padding-bottom:4px;
 }
 .item a{
    color:#000;
	text-decoration:none;
 }

/*账号信息左边栏结束*/
 /*修改密码*/
#updatePassWord{
   margin-left:60px;
   margin-top:20px;
}

 #updatePasswordForm p{
	display:table;
	margin-top:10px;
   
 }
 #updatePasswordForm label{
   height:26px;display:block;float:left;
   width:116px;text-align: right;
 } 
 #personAccount{
    margin-left:5px;
 }
 #updatePasswordForm input{
    line-height: 22px;
  padding:3px;
  width:280px;
 }
#savePassword{
    width:54px;
	height:24px;
	margin-left:120px;
	margin-top:10px;
	cursor:pointer;
   background:url('../images/sure.png');

}