  #orderListListBody{width:100%;}

/*账号信息*/
#accountInfoContainer{
display: table; background:#B8B8B8; margin:0 auto;margin-top:20px;width:1000px;
}
#leftBorder{
border-left:1px solid #fff; display: table; 
}
#accountInfoMenu,#leftBorder{margin-top: 15px;margin-bottom: 15px;}

#accountInfoMenu{
float:left;width:230px;min-height:670px;
}
#orderListContent{
float:right;width:763px;border-left:1px solid #5D5D5D;
}
.accountInfoTitle{width:175px;height:38px;margin:0 auto;margin-top:20px;background: url("../images/accountInfo.png") ;
}
.MenuContent{width:180px;margin:0 auto;}
.item{
 padding-top:10px;padding-bottom:10px;border-bottom:1px solid #5D5D5D;border-top:1px solid #fff;
}
.firstItem{
 border-top:none;
}
.lastItem{
 border-bottom:none;
}
 .itemTitle{
  font-weight:bold;font-size:19px;padding-bottom:7px;
 }
 .item p{text-align:left;padding-left:40px;}
.item p:not(.itemTitle){padding-bottom:4px;
 }
 .item a{
    color:#000;
	text-decoration:none;
 }

/*账号信息左边栏结束*/


#orderListList{
 font-size:14px;
 margin-top:20px;
 margin-left:10px;
 margin-right:10px;
}

#orderListList .tbl-main {
    border: 1px solid #5D5D5D;
    table-layout: fixed;
    width: 100%;
	border-collapse:collapse;
}
.thead-tbl-grade th {
  
    border-bottom: 1px solid #5D5D5D;
    height: 40px;
    padding: 0 5px;
    text-align: left;
	font-style: normal;
    font-weight: 400;
     word-break: break-all;
    word-wrap: break-word;
}
#orderListList tr{
 background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #5D5D5D;
}
#orderListList .col-orderNo {
    width: 115px;
}
#orderListList .col-deliveryNo {
    width: 107px;
}
#orderListList .col-deliveryTime {
    width: 77px;
}
#orderListList .col-goodNum {
    width: 65px;
}

#orderListList .col-payAmt {
    width: 88px;
}

#orderListList .col-payModeEk {
    width: 72px;
}
#orderListList .col-orderTime {
    width: 76px;
}
#orderListList .col-orderState {
    width: 70px;
}
#orderListList .col-operation {
    width: 55px;
}


.tbl-main td{
    padding: 5px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

#orderListContent a{
   text-decoration:none;
}
#payContent,#orderInfo,#goodSInfo,#deliverAddr{
  width:100%;
}
#payTitle{
   background: #000 none repeat scroll 0 0;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    width: 500px;
}
#shut{
     background:  url("../images/sprite.png") no-repeat scroll -32px -16px;
    border-color: transparent;
    float: right;
    height: 17px;
    margin-right: 10px;
    margin-top: 8px;
    width: 13px;
    cursor:pointer;
}
.payContentTitle{
	   border-bottom: 20px none;
	    color: #000;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 10px;
	    padding-left: 40px;
	    padding-top: 10px;
}
#orderInfo dl{
   border: 1px solid #5D5D5D;
    clear: both;
    display: table;
    margin:0 auto;
    padding-top: 15px;
    width: 460px;
}
#orderInfo dl dt,#orderInfo  dd{
  display:inline;
	  float:left;
	  min-height:30px;
     word-break: break-all;
    word-wrap: break-word;
}
#orderInfo dl dt{
    
      text-align:right;
	  width:80px;
}
#orderInfo  dd{    
      text-align:left;
	  width:150px;	  
}
#goodSInfoTable,#deliverAddrContent{
	width:460px;
	  margin:0 auto;
}
.tb-main {
    border: 1px solid #5d5d5d;
}
.tb-main  .col-name{
	width:240px;
}
.tb-main  .col-price{
	width:100px;
}
.tb-main  .col-num{
	width:90px;
}
.tb-main  .col-total{
	width:100px;
}

#goodSInfoTable tr {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #5d5d5d;
}
.tb-main td {
    padding: 5px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
   border-bottom: 1px solid #5d5d5d;
}
 #deliverAddrContent{
  border:1px solid #5d5d5d;
  padding:5px;
  width:440px;
  word-break: break-all;
    word-wrap: break-word;
 }
 #orderDeliverAddr {
    margin-bottom: 20px;
}
 #confirmPay{
        display: table;
	    float: right;
	    margin-bottom: 5px;
	    margin-right: 45px;
	   
 }