h1 {
	font-weight: 700;
	font-size: 26px;
	text-transform: uppercase;
	color: #555;
	text-align: center;
	font-family: open sans,sans-serif
}

.padding-00 {
	padding-top: 100px
}

.countries-00 {
	padding-left: 15px!important;
	padding-right: 15px!important;
	text-align: center
}

.countries-00 a {
}

.countries-00 .dropdown a {
	text-align: left
}