.titleMargin{
    margin-left: 100px;
}
.forgetPassword{
    margin-left: 300px;
    font-size:16px;
}
@media screen and (max-width: 991px) {
    #editPassword .text-right{
        text-align: center;
    }
    #editPassword .text-left {
        text-align: center;
    }
    .inputStyle{
        height:30px;
        border:1px solid black;
        width: 300px;
    }
    .titleMargin{
        margin-left: 0px;
    }
    .forgetPassword{
        margin-left: 0px;
    }
}
.tableTitle{
    font-size: 18px;
}
.tableValue{
    width: 100%;
    height: 35px;
}
.sureAndBack{
    background: #111111;
    color: white;
    width: 105px;
    height: 35px;
}
.trMargin{
    margin-top: 10px;
}
