@charset "utf-8";

.pagination{
	margin: 23px 0;
    font-size: 16px;
}
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #333;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.2em 0.3em;
    margin-right: 5px;
	margin-bottom: 5px;
	border-color: #adadadee;
}

.pagination .current {
    background: #111111;
    color: #fff;
	border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#111111;
}
.sureAndBack{
    background: #111111;
    color: white;
    width: 60px;
    height: 25px;
    border:0px;
}

