.searchBox{
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    border: 0px solid white;
    width: 100%;
    height: 3rem;
    line-height: 2.3rem;
    text-indent: 10px;
    outline: none;
}
.title{
    font-size: 36px;
}
.titleMargin{
    margin: 100px 0px;;
}
.help{
    font-size: 20px;
}
.searchDiv{
    border-bottom: solid 2px black;
    font-size: 20px;
    padding: 5px 0px;
}
.searchImg{
    text-align: right;
    position: absolute;
    width: 20px;
    top: 25%
}

.searchRightImg{
	cursor:pointer;
    display: inline-block;
    text-align: right;
    position: absolute;
    width: 26px;
    top: 25%;
    right:1%
}
.likeResult{
    margin: 40px 0px;
    color: #747474;
    font-size: 18px;
}
.aboutSearch{
	cursor:pointer;
    padding: 1px 5px;
    border: solid 1px black;
    display: inline-block;
    color: #727071;
    font-size: 16px;
    margin-right: 10px;
}
.question{
    font-size: 22px;
}
.answer{
    font-size: 18px;
    color: #727272
}
.answerLine{
    width: 100%;
    height: 1px;
    background: #B2B2B2;
    margin: 50px 0px;
}
.row {
	margin-bottom: 10px;
}
@media screen and (max-width: 650px) {
	.row{
		text-align: center;
	}
	#pagination span{
		font-size: 15px;
		padding: 0.2em 0.3em;
	}
	.row .text-center-pagination {
		float: none;
		font-size: 15px;
		margin-top:0px;
	}
}
@media screen and (max-width: 375px) {
	#pagination a{
		font-size: 15px;
		padding: 0.2em 0.3em;
	}
}
.text-center-pagination {
	float:right;
	margin-top:26px;
	font-size: 16px;
	padding-right: 2%;
}
#pagination{
    padding-left: 2%;
}
#pagination span,#pagination input{
    margin-top: 5px;
}
.pagination>li>a, .pagination>li>span{
    border:none;
    color: #333333;
    cursor:pointer;
}
.sureAndBack{
    background: #111111;
    color: white;
    width: 60px;
    height: 25px;
    border:0px;
}